[submodule "chrome-extension"]
	path = chrome-extension
	url = https://github.com/turbo-src/chrome-extension
[submodule "turbosrc-engine"]
	path = turbosrc-engine
	url = https://github.com/turbo-src/turbosrc-engine
[submodule "turbosrc-gh"]
	path = turbosrc-gh
	url = https://github.com/turbo-src/turbosrc-gh
[submodule "turbosrc-namespace"]
	path = turbosrc-namespace
	url = https://github.com/turbo-src/turbosrc-namespace
[submodule "turbosrc-service"]
	path = turbosrc-service
	url = https://github.com/turbo-src/turbosrc-service
[submodule "GihtubMakerTools"]
	path = GihtubMakerTools
	url = https://github.com/turbo-src/GihtubMakerTools
[submodule "jwt_hash_decrypt"]
	path = jwt_hash_decrypt
	url = https://github.com/turbo-src/jwt_hash_decrypt
[submodule "create_pull_requests"]
	path = create_pull_requests
	url = https://github.com/turbo-src/create_pull_requests
[submodule "fork-repo"]
	path = fork-repo
	url = https://github.com/turbo-src/fork-repo
