name: Run Tests

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: recursive # fetches all submodules recursively

    - name: Set up Python 3
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Set script permissions
      run: |
        chmod +x ./tsrc-dev
        chmod +x ./tsrc-dev.py

    - name: Decode and create turbosrc.config
      run: |
        echo "${{ secrets.TURBOSRC_CONFIG }}" | base64 --decode > ./turbosrc.config
        jq '.' ./turbosrc.config

    - name: Run turbosrc init
      run: |
        ./tsrc-dev init

    - name: Update .config.json with testers data
      env:
        TURBOSRC_TESTERS_DATA: ${{ secrets.TURBOSRC_TESTERS }}
      run: python add_testers.py


    - name: Start turbosrc and run tests
      run: |
        ./tsrc-dev restart && sleep 10 && ./tsrc-dev test 7db9a demo run_tests

